
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
  }
  
  body {
    background-color: #a56a1daf;
        color: #000000;
  }
  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #100f0f;
  }
  p {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .gallery {
    padding: 50px 20px;
  }
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .gallery-item:hover .overlay {
    opacity: 1;
  }
  nav ul {
    background-image: url("ivan-torres-MQUqbmszGGM-unsplash.jpg");
    list-style: none;
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 10px;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: rgb(248, 245, 240);
    text-decoration: none;
  }
  .login-btn {
    position: absolute;
    top: 1%;
    right: 10px;
    background-color:#ff6347;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    align-items: center;
  } 
  .login-btn i {
    margin-right: 8px;
  }
  .login-btn:hover {
    background-color: #e05640;
  }
  
 
  footer {
    background-image: url("ivan-torres-MQUqbmszGGM-unsplash.jpg");
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

  .container
{
    display: flex;
    align-items: center;
}

.container {
  display: flex;
  align-items: center;
  position: relative; 
}

.image-div {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: larger;
  position: relative; 
}

.image-div h1 {
  color: #dcd5d5;
  justify-content: center;
}
.image-div h1 span{
  color:#e05640 ;
}

.arrow {
  background-color: #a56a1daf;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
}

.arrow.prev {
  left: 20px; 
}

.arrow.next {
  right: 20px; 
}

.arrow:hover {
  background-color: #e05640;
}