body {
  font-family: "Georgia", serif;
  margin: 0;
  padding: 0;
  background-color: #f7e7ce;
  background: url("pics/photo-1549488344-1f9b8d2bd1f3.avif") no-repeat
    center center fixed;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(6px);
}

header { 
  background-image: url("./ivan-torres-MQUqbmszGGM-unsplash.jpg");
padding: 10px 0;
}

nav ul {
list-style: none;
display: flex;
justify-content: center;
}

nav ul li {
margin: 0 15px;
}

nav ul li a {
color: white;
text-decoration: none;
}
.login-btn {
position: absolute;
top: 0%;
right: 10px;
background-color:#ff6347;
color: aliceblue;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
font-weight: bold;
display: inline-block;
align-items: center;
} 
.login-btn i {
margin-right: 8px;
}
.login-btn:hover {
background-color: #e05640;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #6f4e37f1;
  color: white;
}

.cart {
  position: absolute;
  top: 20px;
  right: 20px;
}

.cart-logo {
  width: 40px;
  height: auto;
}

.navbar {
  background-color: #8b592bbb;
  text-align: center;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #d2691e;
}

.menu-section {
  padding: 20px;
}

.menu-section h2 {
  color: #d2691e;
  border-style: #ffffff;
  font-size: 38px;
  margin-bottom: 20px;
  text-align: center;
}

.menu-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-card {
  background-color: #ffffffbb;
  border: 1px solid #d2b48c;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.menu-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.menu-img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.menu-card:hover .menu-img {
  transform: scale(1.1);
}

.menu-card p {
  margin: 10px 0 15px 0;
  color: #6f4e37;
}

.price {
  font-weight: bold;
  color: #d2691e;
}

.back-to-top {
  display: block;
  margin: 20px auto 0 auto;
  padding: 5px 15px;
  background-color: #d2691e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
