body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url('b86a963555d1a0a8b259942c450cc9b7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.background {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.login-container {
  position: relative;
  z-index: 2;
  background: rgba(254, 252, 252, 0.647); 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-left: -10px;
}

.input-group input:focus {
  border-color: dodgerblue;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(178, 127, 57);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(152, 111, 35);
  color: black;
}

.register-link {
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  color: rgb(178, 127, 57);
  text-decoration: none;
  transition: color 0.3s ease;
}

.register-link a:hover {
  color: rgb(152, 111, 35);
}