
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    background:url("./4aebf25c924cf646a34feaae26b32519.jpg");
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  header { 
    background-image: url("./ivan-torres-MQUqbmszGGM-unsplash.jpg");
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
.login-btn {
  position: absolute;
  top: 0%;
  right: 10px;
  background-color:#ff6347;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  align-items: center;
} 
.login-btn i {
  margin-right: 8px;
}
.login-btn:hover {
  background-color: #e05640;
}
  
  .menu-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  h3 {
    margin-bottom: 30px;
    font-weight: normal;
  }
  
  .menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C4A484;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .menu-text {
    text-align: left;
    width: 60%;
  }
  
  .menu-text h2 {
    
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
  }
  
  .menu-text ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-text li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 1.2rem;
  }
  
  .menu-image {
    width: 35%;
  }
  
  .menu-image img {
    width: 100%;
    border-radius: 10px;
  }
  
  footer {
    background-image: url("./ivan-torres-MQUqbmszGGM-unsplash.jpg");
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  }