body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./b86a963555d1a0a8b259942c450cc9b7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background-color: rgba(254, 252, 252, 0.647);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-right: 1px;
}

input[type="submit"] {
    background-color:rgb(178, 127, 57);
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(178, 127, 57);
    border-radius: 4px;
    padding-right: 1px;
}

input[type="submit"]:hover {
    background-color:rgb(152, 111, 35);
    color: black;
}

.form-footer {
    text-align: center;
}

.form-footer a {
    color:rgb(178, 127, 57);
    text-decoration: none;
}

.form-footer a:hover{
    color:rgb(152, 111, 35);
}
