body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
  .reservation-page {
    background-image: url('17c3c35e52450c80eaaf7227a1dd374f.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reservation-form {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90%;
    max-width: 400px;
  }
  
  .reservation-form h1 {
    margin-bottom: 20px;
  }
  
  .reservation-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .reservation-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .reservation-form button {
    background-color: #b87243;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .reservation-form button:hover {
    background-color: #e48360;
  }
  .confirmation-page {
    background-image: url('17c3c35e52450c80eaaf7227a1dd374f.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .confirmation-page h1 {
    color: #090909;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(255, 253, 253, 0.7);
  }
  
  .confirmation-page p {
    color: #0b0b0b;
    font-size: 1.4rem;
    margin-bottom: 30px;
    text-shadow: 4px 4px 5px rgba(255, 253, 253, 0.7);
  }
  
  .back-button {
    text-decoration: none;
    background-color: hsl(24, 60%, 48%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .back-button:hover {
    background-color: #e3683b;
  }
  